<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome Bro!! What's Up</h1>
    <h2><%=1+2%></h2>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quibusdam, ratione quas. Iusto maiores cum, cumque dolorem modi rerum saepe id, eaque perspiciatis, enim possimus porro voluptatem ipsum sunt dolor asperiores consectetur quas doloremque quaerat veniam beatae eos cupiditate tempora? Eum impedit, sint laudantium deleniti quaerat voluptates. Placeat esse distinctio temporibus at vel eligendi tenetur, veritatis quibusdam error. Sequi esse adipisci autem earum voluptatem distinctio ut quia, eius possimus nihil, perspiciatis minima repudiandae molestias vero quae veritatis aperiam at temporibus id molestiae tempora, consequuntur voluptates corrupti doloremque. Pariatur, excepturi tempora rerum facere, quasi, similique incidunt doloribus vero libero cum voluptates omnis iste! At, dolores ipsa quod nostrum quibusdam dolore!</p>
</body>
</html>